@import "./Variables/Variables.scss";

.footerContainer {
  height: 150px;
  background-color: $primary-color;

  .footer {
    margin: 0 auto;
    max-width: 1300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;

    .up {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        p {
          margin: 4px 0;
          max-width: 200px;
        }
      }

      .middle {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
      }
    }

    .down {
      height: 28px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footerDown {
    background-color: #66000b;
    height: 28px;

    .down {
      height: 100%;
      max-width: 1300px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #b27f85;
      font-size: 13px;

      span {
        font-weight: 700;
        text-decoration: underline;
        font-style: italic;
      }
    }
  }
}

@media (max-width: 1400px) {
  .footerContainer {
    height: auto;
  }

  .footer {
    height: auto;

    .up {
      padding: 0 4%;
      min-height: 150px;

      .right {
        padding: 0;
      }
    }
  }

  .footerDown {
    .down {
      padding: 0 4%;
    }
  }
}

@media (max-width: 1050px) {
  .footerContainer {
    background-color: $red-2;
    .footer {
      .up {
        flex-direction: column;
        padding-top: 36px;
        padding-bottom: 36px;
        gap: 36px;

        .left {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .right {
          flex-direction: column;
          gap: 16px;
        }
      }
    }
    .footerDown {
      height: auto;
      padding: 36px;
      .down {
        text-align: center;
        flex-direction: column;
        height: auto;
        gap: 16px;
      }
    }
  }
}
