.menu {
  background-color: black;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 16px;
  font-size: 20px;
  padding: 24px 36px;
}

@media (min-width: 1400px) {
  .menu {
    display: none;
  }
}
