@import "./Variables/Variables.scss";

.section3Container {
  height: 1000px;
  background-color: $secondary-color;
}

.section3 {
  max-width: 1300px;
  text-align: center;
  color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    margin-top: 100px;
    font-size: 32px;
    font-weight: 700;
  }

  .subtitle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 50px;
  }

  .content {
    max-width: 650px;
    font-weight: 300;
  }

  .btn {
    background-color: $red-2;
    width: 174px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 40px;
    margin-top: 36px;
  }
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
}

@media (max-width: 1200px) {
  .section3Container {
    height: auto;
  }
  .section3 {
    height: auto;
    padding: 8% 4%;
  }
  .images {
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;

    img {
      min-width: 50px;
      width: 44%;
    }
  }
}
